<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
</head>
<body>
<p> Здесь список всех </p>
<!-- th:each - аналог цикла перебирает элементы из people
и кладет в person (временная переменная, которая указывает на каждый из элементов
коллекции-->

<!--th:text получает методом getName() значение имени и отображает его вместо user -->

<!-- динамически создает ссылки на страницы пользователей
вместо {id} каждый раз подставляется то, что вернет (id=${person.getId()})
таким образом получаем ссылку, которую обрабатывает
public String show(@PathVariable("id") int id, Model model)-->

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"

       th:text="${person.getName()}">user</a>

</div>

<br/>
<hr/>

<a href="/people/new">Create new person</a>


</body>
</html>