<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>
<body>
    <p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
    <p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
    <p th:text="${'id: ' + person.getId()}">VALUE</p>

    <!-- Когда мы переходим на страницу в модели уже лежит объект person
    можем взять его id и сгенерировать ссылку
    для перехода на страницу редактирования-->

    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>




</body>
</html>